body {
	display: flex; /*Makes the box for the survey inside background*/
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

*{
	font-family: sans-serif; /*Sets font*/
	box-sizing: border-box;
}

form {
	width: 500px;
	border: 2px solid #ccc; /*Styling for the box*/
	padding: 30px;
	background: #fff;
	border-radius: 15px;
}


input {
	display: block;
	border: 2px solid #ccc; /*Styling of the input bar*/
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label, th {
	color: #888;/*styling of the label inside of box*/
	font-size: 18px;
	padding: 10px;
}

button{
	float: right;
	background: #555; /*Styling of submit button*/
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}

h1 {
	text-align: center;
	color: #fff;
}
a {
	float: right;
	background: #555; /*Styling of back button*/
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
}
a:hover{
	opacity: .7;
}
table{ /*Styling for the table*/
    margin-left: auto;
    margin-right: auto;
}
